<!DOCTYPE html>
<html >
<head>
  <title>Flower Catalog</title>
  <link rel="stylesheet" type="text/css" href="guestBook.css" />
</head>
<body>
  <h1 id="heading">
  <a href="/index.html"><<</a>
  Guest Book
  <h1>
  <hr id="bottomLine"/>
  <form action="logout" method="post">
    <button type="submit">Logout</button>
  </form>
  <h1>Leave a comment</h1>
  <form action="inputComment" name="commentForm" method="POST">
    Name:
    <input type="text" name="name" required></input>
    <br />
    Comment:
    <textarea rows="10" cols="60" name="comment" required></textarea>
    <br />
    <input type="submit" id="submitButton" value="submit" />
  </form>
  <hr />
  DATETIME_NAME_COMMENTS_LIST
  <hr />
  <div id="showComments"></div>
</body>
</html>
